@import '~bootstrap/scss/bootstrap';

.top-navigation {
  top: 0;
  min-height: 4rem;
  // background-color: #c10a36 !important;
}

.top-level-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  .left-column,
  .right-column {
    padding: 0;
  }

  .middle-column {
    position: sticky;
    padding: 2rem 1rem;
  }
}

@media only screen and (min-width: 768px) {
  nav.left-side-nav {
    flex-direction: column;
  }
}

.left-side-nav {
  top: 4rem;
  z-index: 1000;
  position: sticky;
  text-align: left;
  background-color: #f7f7f7;
  border-right: 1px solid #ececec;
  max-height: calc(100vh - 4rem);

  #basic-navbar-nav {
    width: 100%;
  }

  .countries-list {
    padding: 0;
    overflow-y: auto;
    align-items: flex-start;
    max-height: calc(100vh - 9rem);
  }
}

.right-sidebar {
  top: 4rem;
  position: sticky;
  padding: 2rem 0;
  text-align: left;
  background-color: #f7f7f7;
  height: calc(100vh - 4rem);
  border-left: 1px solid #ececec;

  .right-sidebar-child {
    padding: 0 10px;
    overflow: auto;
    align-items: flex-start;
    max-height: calc(100vh - 6rem);
  }
}

.country-graph-page {
  overflow-y: auto;

  .country-page-flag-container {
    display: flex;
    align-items: center;
    padding-left: 0;

    & h2 {
      margin: 0;
      margin-left: 15px;
    }
  }

  .country-page-date-selector {
    padding: 0;
    margin-top: 15px;
  }
}

.border-spinner {
  margin: auto;
  display: flex;
  justify-content: center;
}
