@import '~bootstrap/scss/bootstrap';

.top-navigation {
  top: 0;
  min-height: 4rem;
}

.top-level-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  .left-column,
  .right-column {
    padding: 0;
  }

  .middle-column {
    height: 100%;
    position: sticky;
    padding: 2rem 1rem;
  }

  .sidebar {
    top: 4rem;
    position: sticky;
    position: -webkit-sticky;
    height: calc(100vh - 4rem);
    background-color: #f7f7f7;
  }

  .left-sidebar {
    z-index: 1000;
    text-align: left;
    border-right: 1px solid #ececec;

    .nav-item {
      display: flex;
      padding: 0.4rem 0;
      align-items: center;
    }

    .nav-item a {
      padding-left: 5px;
    }

    .nav-item a:hover {
      text-decoration: none;
    }

    .countries-searchbox {
      border-bottom: 1px solid #ececec;
    }

    .countries-list {
      padding: 0;
      overflow-y: auto;
      align-items: flex-start;
      max-height: calc(100vh - 9rem);
    }
  }

  .right-sidebar {
    padding: 2rem 0;
    text-align: left;
    border-left: 1px solid #ececec;

    .most-recent-case {
      overflow: auto;
      align-items: flex-start;
      max-height: calc(100vh - 9rem);
    }
  }
}

.country-graph-page {
  overflow-y: auto;
  max-height: calc(100vh - 2rem);

  .country-page-flag-container {
    display: flex;
    align-items: center;
    padding-left: 0;

    & h2 {
      margin: 0;
      margin-left: 15px;
    }
  }

  .country-page-date-selector {
    padding: 0;
    margin-top: 15px;
  }
}

.border-spinner {
  margin: auto;
  display: flex;
  justify-content: center;
}
