.graph-grid-child {
  padding: 1px;
  border-radius: 4px;
  background: #ffffff;
  border: 0.5px solid #dfe2e6;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);

  .chart-area-1-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .chart-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .chart-header {
    display: flex;
    padding: 0.5rem 2rem;
    background: #f8fafb;
    justify-content: space-between;

    .query-select-wrapper {
      margin-left: 2px;
      margin-right: 2px;
    }
  }

  .header-1-1 {
    padding: 15px 50px 15px 50px;
  }

  h3 {
    margin-bottom: 0;
  }

  .graph-selector-container {
    display: flex;
    justify-content: space-between;

    select:not([multiple]):not([size]) {
      height: 34px;
      font-size: 16px;
      color: #111111;
      line-height: 24px;
      padding: 5px 20px 5px 5px;

      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      border: 1px solid #dbdbdb;
    }
  }
}

.left-aligned-legend {
  display: flex;
  height: 20px;
  align-items: center;
}

.right-aligned-legend {
  display: flex;
  height: 45px;
  margin-right: 15px;
  justify-content: flex-end;

  #pie-chart-legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

#custom-tooltip-div-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111111;
  border-radius: 4px;
  padding: 10px;
  background: #ffffff;
  border: 0.5px solid #dfe2e6;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);

  & div {
    text-align: center;
    font-size: 12px;
  }

  & div#value {
    font-weight: bold;
  }
}
